{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <br>    <br>
    <div class="container bg-white shadow-md p-5 form-layout" >
    <h3>Dashboard</h3>
    <br>   <br>
    <a href="{% url 'create_task' %}">Create Task</a>
    <br>   <br>
    <a href="{% url 'view_task' %}">View Tasks</a>
    <br>   <br>
    <a href="{% url 'logout' %}">Logout</a>
</div>
</body>
</html>